Source: libmd
Section: libs
Maintainer: Guillem Jover <guillem@debian.org>
Vcs-Browser: https://git.hadrons.org/cgit/debian/pkgs/libmd.git
Vcs-Git: https://git.hadrons.org/git/debian/pkgs/libmd.git
Homepage: https://www.hadrons.org/software/libmd/
Standards-Version: 4.7.4
Build-Depends:
 debhelper-compat (= 13),
Description: message digest functions from BSD systems
 The libmd library provides various message digest ("hash") functions,
 as found on various BSDs on a library with the same name and with a
 compatible API.

Package: libmd-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libmd0 (= ${binary:Version}),
 ${misc:Depends},
Description: ${source:Synopsis} - development files
 This package contains the header files and static library needed to
 compile applications that use libmd.
 .
 The currently provided hashing algorithms are:
 .
  * MD2
  * MD4
  * MD5
  * RIPEMD-160
  * SHA-1
  * SHA-2 (SHA-224, SHA-256, SHA-384, SHA-512/256 and SHA-512)

Package: libmd0
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: ${source:Synopsis} - shared library
 ${source:Extended-Description}
 .
 For a list of the provided functions, please see the libmd-dev package
 description.

Package: libmd0-udeb
Package-Type: udeb
Section: debian-installer
Architecture: any
Build-Profiles: <!noudeb>
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: ${source:Synopsis} - udeb shared library
 ${source:Extended-Description}
 .
 For a list of the provided functions, please see the libmd-dev package
 description.
